/plugins/__pycache__/
/plugins/.coverage
/htmlcov/

/docs/
/data/lib/err/err.pid
/data/__pycache__/
/.DS_Store
/.coverage

/data/log/
/data/lib/err/plugins/

/data/lib/err/.DS_Store

/data/lib/err/core.db
